<h1>Dependencies:</h1>
<p>Dependencies for Process App/Toolkit: <%= @processApp.name %> (<%= @snapshot.name %>)</p>

<table border="1" style="width:900px">
    <% @foo.each do |snapshot| %>
        <tr>
            <td><%=ProcessApp.find(snapshot.process_app_id).name%></td>
            <td><%=ProcessApp.find(snapshot.process_app_id).id%></td>
            <td><%= snapshot.id %></td>
            <td><%= snapshot.name %></td>
            <td><%= snapshot.guid %></td>
        </tr>
    <% end %>
</table>
<p>
<a href="/process_apps">Home</a>
</p>