<h1>Snapshots for Process App/Toolkit <%= @process_app.name %></h1>
<p>Select to display snapshot dependencies</p>
<table border="1" style="width:900px">
    <% @process_app.snapshots.each do |snapshot| %>
        <tr>
            <td><a href="/process_app/<%= @process_app.id %>/snapshot/<%= snapshot.id %>"><%= snapshot.name %></a></td>
            <td><%=snapshot.guid %></td>
        </tr>
    <% end %>
</table>
